.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.date-wrapper {
  font-size: 24px;
}

.pairing-wrapper {
  margin-top: 16px;
}

.name-cell {
  width: 60px;
  display: inline-block;
  padding: 8px;
  outline: 1px solid #fff; /* use instead of border */
  margin-top: 1px;
  margin-left: 1px;
}

.pair-cell {
  width: 121px;
  display: inline-block;
  padding: 16px;
  outline: 1px solid #fff; /* use instead of border */
  margin-top: 1px;
  margin-left: 1px;
}

.shuffle-button-wrapper {
  margin-top: 16px;
}

.shuffle-button {
  font-size: 24px;
  padding: 16px;
  border-radius: 5;
}
